################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/atividade-em-aula-anima/FileContentIndex/0ad2944d-18b8-4650-a99f-37e31e20a1fb.vsidx
